{% comment %}
ATB-SCHEMA{
  "name": "Gallery",
  "class": "gallery jsGallery",
  "max_blocks": 20,
  "id": "index__gallery",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "select",
      "id": "atb_gallery_type",
      "label": "Gallery style",
      "default": "classic",
      "options": [
        {
          "value": "classic",
          "label": "Classic"
        },
        {
          "value": "horizontal-masonry",
          "label": "Horizontal masonry"
        },
        {
          "value": "masonry",
          "label": "Vertical masonry"
        }
      ],
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_crop_images",
      "label": "Crop images",
      "default": false,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_images_per_row",
      "label": "Images per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_enable_lightbox",
      "label": "Enable lightbox",
      "default": true,
      "info": ""
    },
    {
      "type": "header",
      "content": "Colors",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_overlay_color",
      "label": "Overlay",
      "default": "#000000",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_link_color",
      "label": "Icons",
      "default": "#FFFFFF",
      "info": ""
    },
    {
      "type": "header",
      "content": "Layout",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ],
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_gutter",
      "label": "Show gutter",
      "default": true,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ],
      "info": ""
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_css_class",
      "label": "CSS Class",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_custom_css",
      "label": "Custom CSS",
      "info": ""
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "Image"
    },
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Image",
      "info": "",
      "repeatable": "Image"
    },
    {
      "type": "text",
      "id": "block_link",
      "label": "Link",
      "repeatable": "Image",
      "info": ""
    }
  ],
  "warnings": [
    "repeating image fields may not be properly handled"
  ]
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_gallery_type' -%}
{%- assign atb_gallery_type = val -%}
{%- include 'atb-render' field:'atb_crop_images' -%}
{%- assign atb_crop_images = val -%}
{%- include 'atb-render' field:'atb_images_per_row' -%}
{%- assign atb_images_per_row = val -%}
{%- include 'atb-render' field:'atb_enable_lightbox' -%}
{%- assign atb_enable_lightbox = val -%}
{%- include 'atb-render' field:'atb_overlay_color' -%}
{%- assign atb_overlay_color = val -%}
{%- include 'atb-render' field:'atb_link_color' -%}
{%- assign atb_link_color = val -%}
{%- include 'atb-render' field:'atb_width' -%}
{%- assign atb_width = val -%}
{%- include 'atb-render' field:'atb_show_gutter' -%}
{%- assign atb_show_gutter = val -%}
{%- include 'atb-render' field:'atb_padding_top' -%}
{%- assign atb_padding_top = val -%}
{%- include 'atb-render' field:'atb_padding_bottom' -%}
{%- assign atb_padding_bottom = val -%}
{%- include 'atb-render' field:'atb_animation' -%}
{%- assign atb_animation = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'atb_css_class' -%}
{%- assign atb_css_class = val -%}
{%- include 'atb-render' field:'atb_custom_css' -%}
{%- assign atb_custom_css = val -%}
{%- include 'atb-render' field:'blocks' -%}
{%- assign blocks = val -%}
{%- include 'atb-render' field:'block_image' -%}
{%- assign block_image = val -%}
{%- include 'atb-render' field:'block_link' -%}
{%- assign block_link = val -%}
{%- if atb_crop_images == blank -%}
{%- assign atb_crop_images = false -%}
{%- else -%}
{%- assign atb_crop_images = true -%}
{%- endif -%}
{%- if atb_enable_lightbox == blank -%}
{%- assign atb_enable_lightbox = false -%}
{%- else -%}
{%- assign atb_enable_lightbox = true -%}
{%- endif -%}
{%- if atb_show_gutter == blank -%}
{%- assign atb_show_gutter = false -%}
{%- else -%}
{%- assign atb_show_gutter = true -%}
{%- endif -%}
{%- assign atb_images_per_row = atb_images_per_row | plus: 0 -%}
{%- assign atb_padding_top = atb_padding_top | plus: 0 -%}
{%- assign atb_padding_bottom = atb_padding_bottom | plus: 0 -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section gallery jsGallery">
{% comment %}
** Gallery - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% include 'atb-include-gallery'   %}


</section>