{% comment %}
ATB-SCHEMA{
  "name": "Heading",
  "class": "heading-section",
  "id": "index__heading",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "wysiwyg",
      "id": "atb_preheading",
      "label": "Preheading",
      "default": "<p>Add a preheading</p>",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": "Heading",
      "default": "Section heading",
      "info": ""
    },
    {
      "type": "wysiwyg",
      "id": "atb_subheading",
      "label": "Subheading",
      "default": "<p>Additional text or description of section</p>",
      "info": ""
    },
    {
      "type": "header",
      "content": "Text colors",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_preheading_color",
      "label": "Preheading",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_heading_color",
      "label": "Heading",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_subheading_color",
      "label": "Subheading",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "header",
      "content": "Background",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_gradient",
      "label": "Gradient",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_gradient_rotation",
      "label": "Gradient rotation",
      "min": 0,
      "max": 180,
      "step": 10,
      "default": 0,
      "unit": "deg",
      "info": ""
    },
    {
      "type": "header",
      "content": "Layout",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_heading_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_vertical_spacing",
      "label": "Vertical spacing",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ],
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_left",
      "label": "Left spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_right",
      "label": "Right spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ],
      "info": ""
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_css_class",
      "label": "CSS Class",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_custom_css",
      "label": "Custom CSS",
      "info": ""
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_preheading' -%}
{%- assign atb_preheading = val -%}
{%- include 'atb-render' field:'atb_title' -%}
{%- assign atb_title = val -%}
{%- include 'atb-render' field:'atb_subheading' -%}
{%- assign atb_subheading = val -%}
{%- include 'atb-render' field:'atb_preheading_color' -%}
{%- assign atb_preheading_color = val -%}
{%- include 'atb-render' field:'atb_heading_color' -%}
{%- assign atb_heading_color = val -%}
{%- include 'atb-render' field:'atb_subheading_color' -%}
{%- assign atb_subheading_color = val -%}
{%- include 'atb-render' field:'atb_background' -%}
{%- assign atb_background = val -%}
{%- include 'atb-render' field:'atb_gradient' -%}
{%- assign atb_gradient = val -%}
{%- include 'atb-render' field:'atb_gradient_rotation' -%}
{%- assign atb_gradient_rotation = val -%}
{%- include 'atb-render' field:'atb_heading_alignment' -%}
{%- assign atb_heading_alignment = val -%}
{%- include 'atb-render' field:'atb_vertical_spacing' -%}
{%- assign atb_vertical_spacing = val -%}
{%- include 'atb-render' field:'atb_width' -%}
{%- assign atb_width = val -%}
{%- include 'atb-render' field:'atb_padding_top' -%}
{%- assign atb_padding_top = val -%}
{%- include 'atb-render' field:'atb_padding_bottom' -%}
{%- assign atb_padding_bottom = val -%}
{%- include 'atb-render' field:'atb_padding_left' -%}
{%- assign atb_padding_left = val -%}
{%- include 'atb-render' field:'atb_padding_right' -%}
{%- assign atb_padding_right = val -%}
{%- include 'atb-render' field:'atb_animation' -%}
{%- assign atb_animation = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'atb_css_class' -%}
{%- assign atb_css_class = val -%}
{%- include 'atb-render' field:'atb_custom_css' -%}
{%- assign atb_custom_css = val -%}
{%- assign atb_gradient_rotation = atb_gradient_rotation | plus: 0 -%}
{%- assign atb_padding_top = atb_padding_top | plus: 0 -%}
{%- assign atb_padding_bottom = atb_padding_bottom | plus: 0 -%}
{%- assign atb_padding_left = atb_padding_left | plus: 0 -%}
{%- assign atb_padding_right = atb_padding_right | plus: 0 -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section heading-section">
{% comment %}
** Heading - dynamic **
- Draggable section
{% endcomment %}

{% include 'atb-include-heading'   %}


</section>