{% comment %}
ATB-SCHEMA{
  "name": "Instagram feed",
  "class": "instagram-feed jsInstagram",
  "id": "index__instagram",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": "Heading",
      "default": "Instagram",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_instagram_client_id",
      "label": "Instagram access token",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_date",
      "label": "Show date posted on hover",
      "default": true,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_images_per_row",
      "label": "Images per row",
      "min": 3,
      "max": 8,
      "step": 1,
      "default": 4,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_instagram_count",
      "label": "Number of rows",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 1,
      "info": ""
    },
    {
      "type": "header",
      "content": "Layout",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ],
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_gutter",
      "label": "Show gutter",
      "default": true,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ],
      "info": ""
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_css_class",
      "label": "CSS Class",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_custom_css",
      "label": "Custom CSS",
      "info": ""
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_title' -%}
{%- assign atb_title = val -%}
{%- include 'atb-render' field:'atb_instagram_client_id' -%}
{%- assign atb_instagram_client_id = val -%}
{%- include 'atb-render' field:'atb_show_date' -%}
{%- assign atb_show_date = val -%}
{%- include 'atb-render' field:'atb_images_per_row' -%}
{%- assign atb_images_per_row = val -%}
{%- include 'atb-render' field:'atb_instagram_count' -%}
{%- assign atb_instagram_count = val -%}
{%- include 'atb-render' field:'atb_width' -%}
{%- assign atb_width = val -%}
{%- include 'atb-render' field:'atb_show_gutter' -%}
{%- assign atb_show_gutter = val -%}
{%- include 'atb-render' field:'atb_padding_top' -%}
{%- assign atb_padding_top = val -%}
{%- include 'atb-render' field:'atb_padding_bottom' -%}
{%- assign atb_padding_bottom = val -%}
{%- include 'atb-render' field:'atb_animation' -%}
{%- assign atb_animation = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'atb_css_class' -%}
{%- assign atb_css_class = val -%}
{%- include 'atb-render' field:'atb_custom_css' -%}
{%- assign atb_custom_css = val -%}
{%- if atb_show_date == blank -%}
{%- assign atb_show_date = false -%}
{%- else -%}
{%- assign atb_show_date = true -%}
{%- endif -%}
{%- if atb_show_gutter == blank -%}
{%- assign atb_show_gutter = false -%}
{%- else -%}
{%- assign atb_show_gutter = true -%}
{%- endif -%}
{%- assign atb_images_per_row = atb_images_per_row | plus: 0 -%}
{%- assign atb_instagram_count = atb_instagram_count | plus: 0 -%}
{%- assign atb_padding_top = atb_padding_top | plus: 0 -%}
{%- assign atb_padding_bottom = atb_padding_bottom | plus: 0 -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section instagram-feed jsInstagram">
{% comment %}
** Instagram feed - dynamic **
- Draggable section
{% endcomment %}

{% include 'atb-include-instagram'   %}


</section>