<link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/foundation.css?1505">

{% include 'atb' zone:"Top"%}

<section class="hero">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <p class="pre">No Synthetic Fillers or Artificial Colors</p>
          <h1>Naturally-Sourced Eye Vitamins Since 2001</h1>
          <p class="description">GMO Free. Sugar Free. Soy Free. Gluten Free.</p>
        </div>          
	  </div>
  </div>
</section>

<section class="collections">
    <div class="grid-container">
      <div class="grid-x grid-padding-x medium-up-4">
        <a href="https://www.visivite.com/collections/macular-degeneration" class="cell collection">
          <img src="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/eye_5000x.jpg?v=1574883310">
          <h2>Macular Degeneration<br>Vitamins</h2>
          <p>High doses of certain dietary supplements provide the first effective support for the leading cause of vision loss.</p>
          <button class="button button--primary">Shop Now</button>
        </a> 
        <a href="https://www.visivite.com/collections/healthy-eyes" class="cell collection">
          <img src="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/woman_4000x.jpg?v=1574883460">
          <h2>Healthy Eyes<br>Vitamins</h2>
          <p>Perfect for anyone 35+ who wants to improve their retinal pigmentation, visual contrast and overall eye health.</p>
          <button class="button button--primary">Shop Now</button>
        </a> 
        <a href="https://www.visivite.com/collections/visivite-lutein-eye-vitamins/products/visivite-blue-light-basher" class="cell collection">
          <img src="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/blue-light.jpg?v=1585153868">
          <h2>Blue Light<br>Protection Vitamins</h2>
          <p><strong>Just released!</strong> Our unique formula takes its cues from the plant world to absorb blue light from electronic devices.</p>
          <button class="button button--primary">Shop Now</button>
        </a> 
        <a href="https://www.visivite.com/collections/dry-eyes" class="cell collection">
          <img src="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/formulation_800x.jpg?v=1574888225">
          <h2>Dry Eyes<br>Vitamins</h2>
          <p>VisiVite's formulas are designed to mimic your eye's natural oils to prevent tear evaporation. </p>
          <button class="button button--primary">Shop Now</button>
        </a> 
	  </div>
  </div>
</section>

<section class="promise">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell content">
          100% Satisfaction Guaranteed | Call Us Toll Free (877) 880-5251
        </div>          
	  </div>
  </div>
</section>

<div id="stamped-reviews-widget" data-widget-type="carousel" data-auto-play="true" data-style-color-title="#000000" data-style-color-text="#444444" data-style-color-link="#000000" data-limit-words="100" data-min-rating="4" data-fill-empty="true" data-random="true"></div>

<section class="science">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="highlight">
            <h2>Evidence Based &amp; Dr. Approved</h2>
            <p class="description">VisiVite Eye Vitamin Formulas are based on proven research in the most respected medical publications, including the National Eye Institute's Age-Related Eye Disease Study (AREDS) Age-Related Eye Disease Study 2 (AREDS2), the Lutein Antioxidant Supplement Trial (LAST) and others. Flimsly research or mere opinions are not the method used in the creation of our supplements.</p>
          </div>
        </div>          
	  </div>
  </div>
</section>

{% include 'atb' zone:"Bottom"%}