{% comment %}
  The contents of the page.liquid template can be found in /sections/page-template.liquid
{% endcomment %}

<link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/foundation.css?1505">

<section class="banner__page" data-check-for-order="true">
  {% section 'page__banner' %}
  <section class="section__wrapper
                section
                ">
    <div class="container">
      
      {% section 'page__main' %}
      
      {% section 'page-library' %}
      
    </div>
  </section>
</section>