<link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/0265/0485/5587/files/foundation.css?1505">

{% include 'atb' zone:"Top"%}

<section class="hero-blue">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
          <p class="pre">Attention Computer & Phone Users</p>
          <h1>Protect Your Eyes From Blue Light</h1>
          <p class="description">VisiVite Blue Light Basher Formula uses both published science and natural plant biology to increase the retina's healthy pigmentation and improve the eye's management of high energy blue light. Our formula includes critical ingredients to help prevent ocular damage caused by blue light exposure.</p>	
        </div>          
	  </div>
  </div>
</section>

<section class="collections">
    <div class="grid-container">
      <div class="grid-x grid-padding-x medium-up-2">
        <a href="https://www.visivite.com/collections/visivite-lutein-eye-vitamins/products/visivite-blue-light-basher" class="cell collection">
          <img src="https://cdn.shopify.com/s/files/1/0265/0485/5587/products/AREDS_2_Select_1_600x.png?v=1579049546">
        </a> 
        <div href="https://www.visivite.com/collections/visivite-lutein-eye-vitamins/products/visivite-blue-light-basher" class="cell collection">
          <p class="pre">No Synthetic Fillers or Artificial Colors</p>
          <h1>Naturally-Sourced Eye Vitamins</h1>
          <p class="description">High doses of certain dietary supplements provide the first effective treatment for the leading cause of vision loss among the elderly, a nationwide study has concluded.</p>
          <p class="post">GMO Free. Sugar Free. Soy Free. Gluten Free.</p>	
          <button class="button button--primary">Buy Now</button>
        </div> 
        
	  </div>
  </div>
</section>

<section class="promise">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell content">
          100% Satisfaction Guaranteed | Call Us Toll Free (877) 880-5251
        </div>          
	  </div>
  </div>
</section>

<div id="stamped-reviews-widget" data-widget-type="carousel" data-auto-play="true" data-style-color-title="#000000" data-style-color-text="#444444" data-style-color-link="#000000" data-limit-words="100" data-min-rating="4" data-fill-empty="true" data-random="true"></div>

<section class="science">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="highlight">
            <h2>Evidence Based &amp; Dr. Approved</h2>
            <p class="description">VisiVite Eye Vitamin Formulas are based on proven research in the most respected medical publications, including the National Eye Institute's Age-Related Eye Disease Study (AREDS) Age-Related Eye Disease Study 2 (AREDS2), the Lutein Antioxidant Supplement Trial (LAST) and others. Flimsly research or mere opinions are not the method used in the creation of our supplements.</p>
          </div>
        </div>          
	  </div>
  </div>
</section>

{% include 'atb' zone:"Bottom"%}